body {
  margin: 0;
}

.loading-class {
  opacity: 50%;
  overflow: hidden;
  pointer-events: none;
}

button {
  border: 0;
  background: none;
}

label {
  display: block;
}

input,
select {
  width: 100%;
  height: 40px;
}

footer {
  border: 1px solid black;
  padding: 30px;
}

nav {
  border: 1px solid black;
  padding: 20px;
}

.app-container {
  height: 100vh;
}

.input-container {
  margin-bottom: 20px;
  height: 60px;
}

.alert {
  color: red;
}

.disabled-div {
  opacity: 50%;
}

.navigation-div {
  margin: 30px;
  text-align: center;
}

.navigation-div-active {
  box-shadow: 3px 5px;
  border: 1px solid;
}

.navigation-div-psuedo-disabled {
  opacity: 50%;
}

.form-container {
  width: 100%;
  padding: 30px;
}

.page-container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 40%;
  border-right: 1px solid;
}

.success-symbol {
  color: green;
}

.non-app-sybol {
  color: red;
}
